#movies-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    width: 80%;
    margin: 20px 10%;
    background-color: #61dafb;
  }
  
  .item{
      
      border: 1px solid red;
      text-align: center;
      color: white;
  }
  
  #filters{
      color: white;
      
  }