
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.movies-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 10px;
  width: 80%;
  margin: 20px 10%;
}

.item{
    
    border: 1px solid red;
    text-align: center;
    color: white;
    background-color: grey;
    border-radius: 10px;
}

.item img{
  padding: 10px;
  width: 90%;
  border-radius: 10px;
}

.movie-title{
  font-size: 20px;
  font-weight: 700;

}

.movie-genres{

}

#filters{
    color: white;
    
}